<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!--Configuraçoes de conexao com o banco de dados -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/estacionamento_br?useTimezone=true&amp;serverTimezone=UTC</property>
      
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <!-- Pool de Conexoes  -->
        <property name="connection.pool_size">100</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Gerenciamento do COntexto das Sessões -->
        <property name="current_session_context_class">thread</property>

        <!-- Cache de Segundo Nivel -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Mostra as Sqls Geradas -->
        <property name="show_sql">true</property>

        <!-- Cria as tabelas do Banco de Dados -->
        <property name="hbm2ddl.auto">update</property> 
        
       	<!-- Mapeamento das entidades -->
		<mapping class="br.com.estacionamento.domain.Cliente"/>
		<mapping class="br.com.estacionamento.domain.Vaga"/>
		<mapping class="br.com.estacionamento.domain.RegistroEntradaSaida"/>
		<mapping class="br.com.estacionamento.domain.Usuario"/>
    </session-factory>

</hibernate-configuration>